@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    background-color: rgb(151, 250, 151);
}

canvas{
    margin: 20% auto 5% auto;
    display: block;
}

h1{
    text-align: center;
    margin: 5% 0 -15% 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 38px;
}

p{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin-bottom: 5%;
}